In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg

# Indirect Cost Rates
`cde.ca.gov-indirect_costs-1.1.1` Last Update: 2022-06-13T21:30:12

_Lists of department-approved rates for local educational agencies_


## Documentation Links

* [Indirect Cost Rates (ICR)](https://www.cde.ca.gov/fg/ac/ic/) ICR data download page



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [charter_icr](notebook/extract.ipynb#charters)**. ICR for Charter schools
* ** [schools_icr](notebook/extract.ipynb#schools)**. ICR for District schools

## References
<ul><li> <strong><a href="https://www.cde.ca.gov/fg/ac/ic/documents/icr1819to2223.xlsx#start=11&headers=10">icr1819to2223</a></strong>. ICR For disctrict schools</li><li> <strong><a href="https://www.cde.ca.gov/fg/ac/ic/documents/icrcharter2223.xlsx#start=6&headers=5">icrcharter2223</a></strong>. ICR for Charter Schools, 2022</li><li> <strong><a href="https://www.cde.ca.gov/fg/ac/ic/documents/icrcharter2122.xlsx#start=6&headers=5">icrcharter2122</a></strong>. ICR for Charter Schools, 2021</li><li> <strong><a href="https://www.cde.ca.gov/fg/ac/ic/documents/icrcharter2021.xlsx#start=6&headers=5">icrcharter2021</a></strong>. ICR for Charter Schools, 2020</li><li> <strong><a href="https://www.cde.ca.gov/fg/ac/ic/documents/icrcharter1920.xlsx#start=6&headers=5">icrcharter1920</a></strong>. ICR for Charter Schools, 2019</li><li> <strong><a href="https://www.cde.ca.gov/fg/ac/ic/documents/icrcharter1819.xlsx#start=6&headers=5">icrcharter1819</a></strong>. ICR for Charter Schools, 2018</li><ul>

In [3]:
cm = {
 '2018â€“19 Approved Rates (for use with state and federal programs, as allowable)': 'Approved Rates',
 '2019â€“20\nApproved Rates\n(for use with state and federal programs, as allowable)': 'Approved Rates',
 '2020â€“21\nApproved Rates\n(for use with state and federal programs, as allowable)': 'Approved Rates',
 '2021â€“22\nApproved Rates\n(for use with state and federal programs, as allowable)': 'Approved Rates',
 '2022â€“23\nApproved Rates\n(for use with state and federal programs, as allowable)': 'Approved Rates',
 'Charter Number': 'Charter Number',
 'Charter School Name\n(sorted by county-district-school code)': 'Name',
 'Charter School Name (sorted by county-district-school code)': 'Name',
 'County\nCode': 'County Code',
 'County Code': 'County Code',
 'District\nCode': 'District Code',
 'District Code ': 'District Code',
 'School\nCode': 'School Code',
 'School Code': 'School Code'}



c_frames = [r.dataframe().rename(columns=cm) for r in pkg.references() if 'charter' in r.name] # Charter schools
chtr = pd.concat(c_frames)
chtr

,County Code,District Code,School Code,Charter Number,Name,Approved Rates
0,01,10017,0112607,0811,Envision Academy for Arts & Technology,0.0535
1,01,10017,0123968,1284,Community School for Creative Education,0.0535
2,01,10017,0124172,1296,Yu Ming Charter,0.0535
3,01,10017,0125567,1383,Urban Montessori Charter,0.0535
4,01,10017,0131581,1707,Oakland Unity Middle,0.0535
...,...,...,...,...,...,...
1250,58,10587,5830112,NaN,Yuba County Career Preparatory Charter,0.0678
1251,58,72728,6115935,NaN,Camptonville Academy,0.0377
1252,58,72736,0121632,NaN,Paragon Collegiate Academy,0.0541
1253,58,72736,5830138,NaN,Marysville Charter Academy for the Arts,0.0750
1254,58,72751,6118806,NaN,Wheatland Charter Academy,0.0327

In [4]:
for c in ['County Code', 'District Code', 'School Code', 'Approved Rates']: 
    print(f'Convert {c}')
    chtr[c] = pd.to_numeric(chtr[c])

Convert County Code
Convert District Code
Convert School Code
Convert Approved Rates

In [5]:
chtr

,County Code,District Code,School Code,Charter Number,Name,Approved Rates
0,1,10017,112607.0,0811,Envision Academy for Arts & Technology,0.0535
1,1,10017,123968.0,1284,Community School for Creative Education,0.0535
2,1,10017,124172.0,1296,Yu Ming Charter,0.0535
3,1,10017,125567.0,1383,Urban Montessori Charter,0.0535
4,1,10017,131581.0,1707,Oakland Unity Middle,0.0535
...,...,...,...,...,...,...
1250,58,10587,5830112.0,NaN,Yuba County Career Preparatory Charter,0.0678
1251,58,72728,6115935.0,NaN,Camptonville Academy,0.0377
1252,58,72736,121632.0,NaN,Paragon Collegiate Academy,0.0541
1253,58,72736,5830138.0,NaN,Marysville Charter Academy for the Arts,0.0750
1254,58,72751,6118806.0,NaN,Wheatland Charter Academy,0.0327

In [9]:
districts = pkg.reference('icr1819to2223').dataframe()

cm = {
 '2018â€“19 (based on 2016â€“17 expenditure data)': 'rate1819',
 '2019â€“20 (based on 2017â€“18 expenditure data)': 'rate1920',
 '2020â€“21 (based on 2018â€“19 expenditure data)': 'rate2021',
 '2021â€“22 (based on 2019â€“20 expenditure data)': 'rate2122',
 '2022â€“23 (based on 2020â€“21 expenditure data)': 'rate2223',
 'County Code': 'County Code',
 'LEA Code': 'LEA Code',
 'LEA Name': 'LEA Name',
 'Type': 'Type'}

districts = districts.rename(columns=cm)

districts

,County Code,LEA Code,Type,LEA Name,rate1819,rate1920,rate2021,rate2122,rate2223
0,01,10017,C,Alameda County Superintendent,0.0998,0.0989,0.099,0.0991,0.0994
1,01,40402,J,Mission Valley ROC/P,0.0,0.0,0.0,0.0,0.0
2,01,40410,J,Tri-Valley ROP JPA,0.0,0.0,0.0343,0.0359,0.041
3,01,40428,J,Eden Area ROP JPA,0.0692,0.0703,0.0753,0.1083,0.1494
4,01,61119,D,Alameda City Unified,0.0527,0.07,0.0701,0.0767,0.0761
...,...,...,...,...,...,...,...,...,...
1048,58,72728,D,Camptonville Elementary,0.0351,0.0325,0.0297,0.0259,0.0351
1049,58,72736,D,Marysville Joint Unified,0.075,0.0703,0.0669,0.0611,0.0455
1050,58,72744,D,Plumas Lake Elementary,0.0733,0.072,0.0497,0.0578,0.0615
1051,58,72751,D,Wheatland Elementary,0.0327,0.0458,0.042,0.0388,0.0393
1052,58,72769,D,Wheatland Union High,0.0821,0.0839,0.056,0.0693,0.1148

In [19]:
for c in ['County Code', 'LEA Code', 'rate1819', 'rate1920', 'rate2021', 'rate2122', 'rate2223']:
    districts[c] = pd.to_numeric(districts[c], errors='coerce')

In [20]:
districts.dtypes

County Code    float64
LEA Code       float64
Type            object
LEA Name        object
rate1819       float64
rate1920       float64
rate2021       float64
rate2122       float64
rate2223       float64
dtype: object